.container {
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    font-size: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
}

.containerSpan{
    font-size: 38px;
}