.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  background-color: blanchedalmond;
  border-radius: 15px;
  margin: 5px;
}

.select {
  
}

.selectedUserCard {
  background-color: cadetblue;
}
